body {
  margin: 0 0 0 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper {
  height: 100vh;
  width: 85%;
  display: flex;
  margin: auto;
  padding: 0 0 0 0;
}

.sidebar {
  width: 35%;
  background-color: #596d48;
  z-index: -3;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image-text {
  position: absolute;
  top: 8rem;
  width: 100%;
  height: 10rem;
  background: black;
  opacity: 0.6;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-text img {
  height: 8rem;
}

.image-text h1 {
  font-size: 4rem;
}

.image-text-credit {
  position: absolute;
  width: 100%;
  bottom: 10px;
  color: white;
  text-align: center;
}

.image-text-credit a {
  color: white;
}

.image-text h1 {
  color: white;
}

.content {
  width: 65%;
  height: 100%;
  background-color: #e5e7eb;
}

.jumbotron {
  padding: 5rem 18rem 0 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.form-signup {
  background-color: white;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem 1rem 1rem 2rem;
  overflow: auto;
}

fieldset {
  display: flex;
  justify-content: flex-start;
  font-size: 0.8rem;
  font-weight: bold;
  color: grey;
  border: 0;
  padding: 0 0 1.5rem 0;
}

fieldset div {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
}

fieldset div input {
  border: 1px solid grey;
  border-radius: 0.3rem;
  width: 18rem;
  height: 2rem;
}

fieldset div input:invalid {
  border: 2px solid red;
}

input:invalid + label {
  content: " (" attr(data-help) ")";
}

fieldset div input:valid {
  border: 2px solid green;
}

fieldset div input:focus:invalid {
  border: 2px solid red;
}

label {
  margin: 0 0 0.3rem 0;
}

.create-account {
  display: flex;
  flex-direction: column;
}

.btn-submit {
  background-color: #596d48;
  width: 13rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: medium;
  color: white;
  margin-bottom: 1rem;
}
